.home-container {
  text-align: center;
  color: var(--clr-2);
}
.home-splashContainer {
  margin: auto;
  height: 27rem;
  width: 30rem;
}
.home-splash {
  margin: 9.5rem 0 2rem;
  width: 100%;
  position: relative;
  left: -6.5rem;
  /* transform: scaleX(-1); */
}
h1 {
  margin: 1rem 0 2rem;
  font-size: 7rem;
  font-family: 'Barriecito', Arial, Helvetica, sans-serif;
}
.home-intro {
  margin: 1.5rem auto;
  padding: 0.3rem;
  max-width: 45ch;
  font-family: 'Life Savers', cursive;
}
.home-gameLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2.2rem;
  font-family: 'Barriecito', cursive;
}
.home-gameLinks > a {
  padding: 0.3rem 0.5rem;
  background: var(--clr-2);
  color: var(--clr-1);
  border: none;
}
.home-gameLinks > a:active {
  background: var(--clr-2-light);
}
@media only screen and (min-width: 600px) {
  .home-gameLinks {
    display: block;
    font-size: 2.6rem;
  }
}
@media only screen and (hover: hover) {
  .home-gameLinks > a:hover {
    background: var(--clr-3);
  }
}
.home-gameLinks > a {
  margin: 0 1rem;
  /* font-size: 2.6rem; */
}
.credit-container {
  margin: 5rem 0;
  font-size: 1.6rem;
}
