.gameImg-container {
  background: lightgreen;
}
.gameImg {
  position: relative;
  width: 100%;
}
.gameImg-selection {
  --length: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--length);
  height: var(--length);
  border: 3px dashed var(--clr-1);
  border-radius: 10rem;
  background: rgb(255, 255, 255, 0.6);
  z-index: 6;
}
@media only screen and (min-width: 500px) {
  .gameImg-selection {
    --length: 10rem;
    border-width: 5px;
  }
}
.gameImg-dropdownContainer {
  position: absolute;
  top: 0;
  left: 0rem;
  padding: 0.3rem;
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  background: var(--clr-2);
  border: 3px solid var(--clr-1);
  border-radius: 0.5rem;
  z-index: 5;
}
.gameImg-dropdownItem {
  padding: 0.3rem;
  text-transform: capitalize;
  background: var(--clr-3);
  cursor: pointer;
}
.gameImg-dropdownItem:active {
  background: var(--clr-3-light);
}
@media (hover: hover) {
  .gameImg-dropdownItem:hover {
    background: var(--clr-3-light);
  }
  .gameImg-dropdownItem:active {
    background: var(--clr-3);
  }
}
.hidden {
  visibility: hidden;
}
.gameImg-itemBox {
  position: absolute;
  border: 3px solid var(--clr-1);
  border-radius: 0.3rem;
  box-shadow: inset 0 0 0.6rem 0.2rem var(--clr-1),
    0 0 0.6rem 0.1rem var(--clr-2);
}
@media only screen and (min-width: 800px) {
  .gameImg-itemBox {
    box-shadow: inset 0 0 1.5rem 0.4rem var(--clr-1),
      0 0 0.6rem 0.2rem var(--clr-2);
  }
}
