.gameHeader-container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  background: pink;
  z-index: 2;
}
.gameHeader-item-found {
  text-decoration: line-through;
}
.timer {
  width: 5rem;
}
