.win-outerContainer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
}
.win-innerContainer {
  padding: 1.5rem;
  min-width: 25rem;
  width: 80%;
  max-width: 75rem;
  min-height: 20rem;
  height: 50%;
  max-height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--clr-1);
  border-radius: 0.5rem;
  color: var(--clr-2);
  border: 2px solid var(--clr-2);
}
@media only screen and (min-width: 500px) {
  .win-innerContainer {
    width: 50%;
    height: 55%;
  }
}
.win-innerContainer-showingLeaderboard {
  position: relative;
  height: 60%;
}
.win-innerContainer-showingLeaderboard::before {
  position: absolute;
  content: '';
  bottom: 1rem;
  left: 5%;
  width: 90%;
  height: 1.8rem;
  box-shadow: inset 0 -1rem 0.7rem 0.3rem var(--clr-1);
}

/* NAME INPUT SCREEN START */
.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name-container > h2 {
  font-size: 5rem;
  font-family: 'Barriecito', cursive;
}
.name-container > h3 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.name-inputGroup {
  margin: 0.5rem 0 1.3rem 0;
  text-align: center;
}
@media only screen and (min-width: 800px) {
  .name-container > h2 {
    font-size: 9rem;
  }
  .name-container > h3 {
    font-size: 4rem;
    margin-bottom: 5.5rem;
  }
  .name-inputGroup {
    margin: 0rem 0 2rem 0;
    font-size: 2.7rem;
  }
}
.name-label {
  margin-right: 1rem;
}
.name-submit {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--clr-2);
  color: var(--clr-1);
  cursor: pointer;
  font-family: 'Barriecito', cursive;
}
.name-submit:active {
  background: var(--clr-3);
}
@media (hover: hover) {
  .name-submit:hover {
    background: var(--clr-3);
  }
  .name-submit:active {
    background: var(--clr-2);
  }
}
/* NAME INPUT SCREEN END */

/* LOADING SCREEN START */
.loading-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.loading {
  text-align: center;
  font-size: 3.3rem;
}
.loading-container > img {
  object-fit: contain;
  width: 3.5rem;
}
@media only screen and (min-width: 800px) {
  .loading {
    font-size: 4rem;
  }
  .loading-container > img {
  }
}
/* LOADING SCREEN END */

/* LEADERBOARD SCREEN START */
.leaderboard-outerContainer {
  height: 100%;
  overflow-y: auto;
}
.leaderboard-heading {
  padding-bottom: 1rem;
  position: sticky;
  top: 0;
  font-size: 2.8rem;
  text-align: center;
  background: var(--clr-1);
  box-shadow: 0 0 0.7rem 0.3rem var(--clr-1);
  font-family: 'Barriecito', cursive;
}
.leaderboard-innerContainer
  .leaderboard-entryGroup:nth-child(odd):not(.leaderboard-currentPlayer) {
  background: var(--clr-1-light);
}
.leaderboard-entryGroup {
  margin: 0 5%;
  padding: 0.3rem 0.5rem;
  max-width: 50rem;
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 800px) {
  .leaderboard-heading {
    font-size: 4rem;
  }
  .leaderboard-entryGroup {
    margin: 0 25%;
    padding: 0.3rem 1rem;
  }
}
.leaderboard-name {
  padding: 0 0.4rem;
  word-break: break-all;
  text-align: center;
}
.leaderboard-rank {
  min-width: 3rem;
}
.leaderboard-currentPlayer {
  background: var(--clr-3-light);
  color: var(--clr-1);
}
/* LEADERBOARD SCREEN END */
