.win-outerContainer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
}
.win-innerContainer {
  width: 50%;
  height: 50%;
  background: purple;
}
