:root {
  --clr-1: rgb(25, 25, 25);
  --clr-1-light: rgb(50, 50, 50);
  --clr-2: rgb(240, 240, 240);
  --clr-3: darkgrey;
  --clr-3-light: lightgrey;
  font-size: 62.5%;
  background: var(--clr-1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  color: var(--clr-2);
  text-decoration: none;
  border-bottom: 2px solid var(--clr-2);
}
